@model geaje.Models.venueModel

@{
    ViewBag.Title = "Details Venue";
}

<style>
    .detail {
        position: absolute;
        left: 40%;
        top: 30%;
        border: 1px solid #DA1C5C;
        padding-left: 30px;
        padding-right: 30px;
        background-color: #DA1C5C;
        border-radius: 8px;
        margin-bottom: 50px;
    }

    dd {
        margin-bottom: 10px;
        color: white;
    }

    dt {
        color: #2BAEC0;
    }

    h2 {
        color: #2BAEC0;
    }
</style>

<div class="detail">
<h2>Detail Venue</h2>
    <hr />
    <dl class="">
        <dt>
            @Html.DisplayNameFor(model => model.desaModel.desa_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.desaModel.desa_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kecModel.kec_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kecModel.kec_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kotaModel.kota_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kotaModel.kota_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.venue_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.venue_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.alamat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.alamat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.deskripsi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deskripsi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.harga)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.harga)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.venue_id }, new { @class = "btn", @style = "background-color:#ffee6e;color: #ffff;margin-top:30px;" }) 
    @Html.ActionLink("Back", "Index", new { }, new { @class = "btn", @style = "background-color:#1f1e1e; color: #ffff;margin-top:30px;" })
</p>
